@font-face {
  font-family: "geomanist";
  src: url('../fonts/geomanist-regular.otf');
}

.waiver {
    text-align: center;
    font-style: italic;
}

div.image.small .figure img {
    max-width: 100%;
}

.figure .caption {
  font-style: italic;
  margin-top: 0;
  text-align: center;
}

.figure .img {
  max-width: 100%;
}

.note p {
    display: inline-block;
}

.note {
    border: 2px dashed gray;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.note:before {
    content: "Note:";
    font-style:italic;
}

.figure {
    text-align: center;
}

.svg-icon {
    display: inline;
    width: 0.8em;
    height: 0.8em;
}
