.waiver {
    text-align: center;
    font-style: italic;
}

div.image.small .figure img {
    max-width: 100%;
}

.figure .caption {
  font-style: italic;
  margin-top: 0;
  text-align: center;
}

.note p {
    display: inline-block;
}

.note {
    border: 2px dashed gray;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.note:before {
    content: "Note:";
    font-style:italic;
}