<h2>Project Ideas</h2>

<p>
I view myself as an intermediate Haskell programmer (perhaps on the lower end of the scale).
I'm constantly on the lookout for small, realistic projects that produce a tangible and practical application.
</p>

<p>
Unfortunately, I usually do not have the time to pursue these.
But they might be useful to someone who has finished <a href="http://learnyouahaskell.com/">LYAH</a> and wants to create an actual application.
If you end up doing one of these, it would be highly appreciated if you could send me a link to the repository / source code, and I'll link it to the project so others can learn from it as well.
</p>

<p xmlns:dct="http://purl.org/dc/terms/" class="waiver">
  <a rel="license"
     href="http://creativecommons.org/publicdomain/zero/1.0/">
    <img src="http://i.creativecommons.org/p/zero/1.0/88x31.png" style="border-style: none;" alt="CC0" />
  </a>
  <br />
  To the extent possible under law,
  <a rel="dct:publisher"
     href="http://www.beerendlauwers.be/">
    <span property="dct:title">Beerend Lauwers</span></a>
  has waived all copyright and related or neighboring rights to
  <span property="dct:title">the project ideas listed on this page</span>.
</p>

<ul id="project-ideas">
    $partial("templates/project-idea-list.html")$
</ul>